@import url(https://fonts.googleapis.com/css?family=Calibri);
body {
	font-family:"Calibri";
}
.container{
	margin:0 auto;
}
article{	
	vertical-align:top;
	border-style:solid;
	border-width:0.1em;
	border-color:#c4eaff;
	border-radius:2%;
	height:40em;
	display:inline-block;
	margin:0.2%;
}

article p{
	font-size:150%;
	color:gray;
	padding-left:5%;
}
article h3{
	font-size:150%;
	padding-left:5%;
}
.info{
	padding:5%;
	height:30%;
	width:90%;
}
.info *{
	width:30%;
	display:inline-block;
	vertical-align:top;
	margin:0 auto;
}
.info div h3{
	position:relative;
	display:block;
	left:-25%;
}
.info div h4{
	position:relative;
	color:gray;
	left:11%;
}
img[src*="pic"]{
	border-radius:1.8%/3.5%;
}
.plane{
	height:50px;
	width:50px;
}
.flight{
	height:30%;
	width:35%;
	background-color:#33B5FF;
	border-radius:5%/15%;
	float:right;
}
.flight h2{
	padding-left:5%;
	padding-top:9%;
	height:20%;
	width:90%;
	text-align:center;
	text-decoration:none;
	color:white;
}